<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SMP</title>
    <base href="/" />
    <script src="https://www.google.com/recaptcha/api.js?render=6Lc28oQUAAAAAHmahlLvO8LQmAagQXQcGMkdi1w5'" async defer></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script>
	    grecaptcha.ready(function() {
	    grecaptcha.execute('6Lc28oQUAAAAAHmahlLvO8LQmAagQXQcGMkdi1w5', {action: 'action_name'})
	    .then(function(token) {
	    // Verify the token on the server.
	    	console.log(token,'this is token')
	    });
	    });
    </script>
</head>

<body>
    <div id="root"></div>
</body>
</html>